<div class = 'container'>
  
  <div class = 'row'>
    <div class = 'col-md-1'></div>
    <h2>新規登録</h2>
  </div>
  <div class = 'row'>
    <div class = 'col-md-1'></div>
    登録済みの方は<%= render "devise/shared/links" %>
  </div>


  <%= form_with model: @user, url: user_registration_path do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class = 'row'>
      <div class = 'col-md-1'></div>
      <div class = 'col-md-4 my-3'>
        <div class="my-3">
          <%= f.text_field :name, placeholder: '名前', style: 'width: 250px' %>
        </div>
        <div class="my-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス', style: 'width: 250px' %>
        </div>
        <div class="my-3">
          <% if @minimum_password_length %>
            <em>(パスワードは<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: 'パスワード', style: 'width: 250px' %>
        </div>
        <div class="my-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'パスワード（再確認）', style: 'width: 250px' %>
        </div>
        <div class="my-3">
          <%= f.submit "新規登録", class: 'btn btn-outline-dark' %>
        </div>
      </div>
      <div class = 'col-md-7'>
        <%= image_tag 'egg.jpg', size: '600x600' %>
      </div>
    </div>
  <% end %>
    
  </div>
