<h2>レシピ編集ページ</h2>

<%= form_with model: @recipe, method: :patch do |f| %>
  <table class = 'table'>
    
    <tr>
      <td><%= f.label :recipe_image, '料理の写真' %></td>
      <td><%= f.file_field :recipe_image, accept: 'image/*' %></td>
    </tr>
    
    <tr>
      <td><%= f.label :title, '料理名' %></td>
      <td><%= f.text_field :title %></td>
    </tr>
    
    <tr>
      <td><%= f.label :body, '作り方' %></td>
      <td><%= f.text_field :body %></td>
    </tr>
    
    <tr>
      <td><%= f.submit '編集内容を保存', class: 'btm btn-success' %></td>
    </tr>
    
  </table>
<% end %>