<h2>レシピ一覧</h2>
<table class = 'table'>
  
  <thred>
    <tr>
      <td>写真</td>
      <td>料理名</td>
      <td>作り方</td>
      <td>タグ</td>
    </tr>
  </thred>
  
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td>
          <%= link_to recipe_path(recipe) do %>
            <%= image_tag recipe.get_recipe_image(100,100) %>
          <% end %>
        </td>
        <td><%= recipe.title %></td>
        <td><%= recipe.body %></td>
        <td>
          <% recipe.tags.each do |tag| %>
            <%= link_to tag.name, search_path(content: tag.name, model: "tag", method: "perfect" ) %>
          <% end %>
        </td>
        <td class = <%= "favorite-" + recipe.id.to_s %> >
          <%= render 'favorites/btn', recipe: recipe %>
        </td>
        <td><%= link_to '編集する', edit_recipe_path(recipe), class: 'btn btn-success' %></td>
        <td><%= link_to '削除する', recipe_path(recipe), method: :delete, data: { confirm: '本当に削除しますか？'}, class: 'btn btn-danger' %></td>
        <td><%= link_to 'このレシピを詳しく見る', recipe_path(recipe), class: 'btn btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>