<h2>レシピ詳細ページ</h2>

<table class = 'table'>
  
  <tr>
    <td>写真</td>
    <td><%= image_tag @recipe.get_recipe_image(100,100) %></td>
  </tr>
  
  <tr>
    <td>料理名</td>
    <td><%= @recipe.title %></td>
  </tr>
  
  <tr>
    <td>作り方</td>
    <td><%= @recipe.body %></td>
  </tr>
  
  <tr>
    <td>タグ</td>
    <td>
      <% @recipe.tags.each do |tag| %>
        <%= link_to tag.name, search_path(content: tag.name, model: "tag", method: "perfect" ) %>
      <% end %>
    </td>
  </tr>
  
  <tr>
    <td class = <%= "favorite-" + @recipe.id.to_s %>>
      <%= render 'favorites/btn', recipe: @recipe %>
    </td>
  </tr>
  
</table>

<% if @recipe.user == current_user %>
  <div><%= link_to '編集する', edit_recipe_path, class: 'btn btn-success' %></div>
<% end %>
<div><%= link_to 'レシピ一覧へ', recipes_path, class: 'btn btn-primary' %></div>

<div class = 'recipe-comments-index'>
  <%= render 'recipe_comments/index', recipe: @recipe %>
</div>

<%= render 'recipe_comments/form', recipe: @recipe, recipe_comment: @recipe_comment %>
