<div class = 'container'>
  <div class = 'row my-5' style = 'background-color: rgb(245,245,245);'>
    <div class = 'col-md-1'></div>

    <div class = 'col-md-4'>
      <p class = 'h3 my-5 font-weight-bold'>今日のレシピとは</p>
      <div class = 'ml-5'>
        <%= image_tag 'about3.jpg', size: '100x100' %>
      </div>
    </div>

    <div class = 'col-md-7'>
      <p class = 'my-4'>
        自分が作った料理を投稿し記録できたり、<br>作りたい料理のレシピを検索することができるサイトです。<br>
      </p>
      <p class = 'my-4'>
        日々料理をする中で、何を作ろうか悩んでいる方へ<br>
        作ったレシピを記録し、昨日作った料理と被らない献立を<br>
        他のユーザーが作っているレシピを知り、レシピの幅を広げる力となれれば
      </p>
      <div class = 'mb-3'>
        気になった方は、
        <%= link_to '新規登録', new_user_registration_path, class: "btn btn-outline-dark" %>
        <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-outline-dark", method: :post %>
      </div>
      
    </div>

  </div>

  <div class = 'row my-5'>
    <div class = 'col-md-1'></div>

    <div class = 'col-md-7'>
      <p class = 'h4 my-3 font-weight-bold'>今日のレシピを投稿・記録しよう</p>
      <p class = 'my-3'>
        投稿内容は自由です。<br>
        写真とレシピ名だけ、参考にしたサイトのURLでもかまいません。<br>
        自由に今日のレシピを投稿してみてください。
      </p>
    </div>

    <div class = 'col-md-4'>
      <%= image_tag 'about1.jpg', size: '200x200' %>
    </div>

  </div>

  <div class = 'row my-5' style = 'background-color: rgb(245,245,245);'>
    <div class = 'col-md-2'></div>

    <div class = 'col-md-3 my-2'>
      <%= image_tag 'about2.jpg', size: '150x200' %>
    </div>

    <div class = 'col-md-7'>
      <p class = 'h4 my-4 font-weight-bold'>いいねをしよう</p>
      <p class = 'my-5'>
        気になった、作ってみたいレシピには「いいね」をしてみて下さい。<br>
        「いいね」をしたレシピはマイページから見返すことができます。
      </p>
    </div>

  </div>

</div>