<!DOCTYPE html>
<html>
  <head>
     
    <title>TodaysRecipe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/b4084b3cf0.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class = 'row mx-5'>
      <div class = 'ml-auto'>
        <div class = 'my-2 '>
          <%= render 'searches/form' %>
        </div>
        <%= render 'searches/tag_form' %>
      </div>
    </div>

    
    <main>
      <%# サクセスメッセージ%>
      <p id = 'notice'><%= notice %></p>
      
      
    </main>
    <%= yield %>
  </body>
</html>
