<!DOCTYPE html>
<html>
  <head>
    <title>TodaysRecipe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/b4084b3cf0.js" crossorigin="anonymous"></script>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
      <%# サクセスメッセージ%>
      <p id = 'notice'><%= notice %></p
      <%# 検索機能、検索フォーム%>
      <div class = 'd-flex justify-content-center mb-2'>
        <%= render 'searches/form' %>
      </div>
    </main>
    <%= yield %>
  </body>
</html>
